<%= form_for :mach, :url => { :controller => "home", :action => "update", :id => @mach } do |f| %>
	<p>
	<%#= f.label "IP" %>
	<%#= f.text_field :ip_addr %>
	</p>
	<p>
	<%= f.label "Process" %>
	<%= f.text_field :server %>
	</p>
	<p>
	<%= f.label "Port" %>
	<%= f.text_field :port %>
	</p>
	<%= f.submit %>
<% end %>
