<%= link_to "Add New Mac", controller: "home", action: "add" %><br />
<table>
	<tr>
		<th>Ip_addr </th>
		<th>Service </th>
		<th>Status </th>
		<th>Port </th>
		<th>Process </th>
	</tr>
		<tr>
		<% @status.each do |status| %>
			<td><%= status.ip_addr %></td>
			<td><%= status.service %></td>
			<td>
				<% if status.status == true %>
					<strong style="color:green;">Online</strong>
				<% else %>
					<stong style="color:red;">Faild</strong>
			<%end %>
		</td>
		<td><%= status.port %></td>
		<td>
			<ul>
				<li><%= link_to "Start" , controller: "home", action: "start", id: status.id %> </li>
				<li><%= link_to "Stop" , controller: "home", action: "stop", id: status.id %> </li>
			</td>
		</tr>
		<% end %>
</table>
